/*.left-nav-contents {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #222222;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.main-content-container{
  margin-left: 25%;
}

div.col-lg-3{
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  position: fixed;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/
